button {
  color: white;
  background-color: #474747;
  border: 2px solid #b5b5b5;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}

@font-face {
  font-family: "Westminster";
  src: url("./westminster.woff") format("woff")
}

button:hover {
  border: 2px solid #b0b0b0;
  background-color: #434343;
}

button:active {
  border: 2px solid #a6a6a6;
  background-color: #404040;
}

button:hover:active {
  border: 2px solid #a5a5a5;
  background-color: #383838;
}

p {
  font-family: "Westminster";
  font-size: large;
}

h1 {
  font-family: "Westminster";
  font-size: large;
}

h2 {
  font-family: "Westminster";
  font-size: large;
}
