p {
  font-family: "Westminster";
}

h1 {
  font-family: "Westminster";
}

h2 {
  font-family: "Westminster";
}

body {
  margin: 0px
}

@font-face {
  font-family: "Westminster";
  src: url("./westminster.woff") format("woff")
}
