button {
  color: white;
  background-color: #474747;
  border: #545454;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

button:hover {
  border: #505050;
  background-color: #434343;
}

button:active {
  border: #494949;
  background-color: #424242;
}

button:hover:active {
  border: #484848;
  background-color: #414141;
}
