html {
  background-color: #545454;
}

.logo {
  margin-left: 4px;
  margin-top: 4px
}

.buttons {
  margin-right: 4px;
  margin-top: 4px
}

.header {
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
}

@font-face {
  font-family: "Westminster";
  src: url("./westminster.woff") format("woff")
}

button {
  font-family: "Westminster";
}
