html {
  background-color: #545454;
}

.header {
  position: sticky;
  position: -webkit-sticky;
}

.logo {
  margin-left: 7px;
  margin-top: 5px;
}

.buttons {
  margin-right: 7px;
  margin-top: 16px;
}

.header {
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: text-top;
}

@font-face {
  font-family: "Westminster";
  src: url("./westminster.woff") format("woff")
}

button {
  font-family: "Westminster";
}
